<div id="filterrific_results">
  <div class="col-md-10">

    <%= will_paginate loans %>

    <table class="table table-striped">
      <tr>
        <th>Investment</th>
        <th>Rate</th>
        <th>Term</th>
        <th>FICO</th>
        <th>Amount</th>
        <th>% Funded</th>
        <th>Amount Left</th>
        <th>Days Left</th>
      </tr>
      <% loans.each do |loan| %>
        <tr>
          <%= form_for :investment, method: :post, url: investments_path do |f|%>
          <td>
            <%= f.number_field :amount, class: 'col-md-4 input-investment', placeholder: '$' %><br/><br>
            <%= f.hidden_field :loan_id, class: 'col-md-4 input-investment', value: loan.id %>
            <%= f.submit "Add", class: 'btn btn-success add-investment' %>
          </td>
          <td><%= loan.rate %></td>
          <td><%= loan.term %></td>
          <td><%= Lendee.find_by(loan.lendee_id).credit_range %></td>
          <td>$<%= loan.amount %></td>
          <td>

            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow= "<%= loan.amount_funded %>" aria-valuemin="0" aria-valuemax="<%= loan.amount %>" style="width: <%= (loan.amount_funded/loan.amount)*100 %>%">
                <%= (loan.amount_funded/loan.amount).round(2)*100 %>%
              </div>
            </div>


          </td>
          <td>$<%= loan.amount - loan.amount_funded %></td>
          <td><%= (loan.expiration_date - Date.today).to_i %> days</td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <%= will_paginate loans %>
  </div>
</div>
