<div id="filterrific_results">
  <div class="col-md-10">

    <%= will_paginate loans %>

    <table id="myTable"class="table table-striped tablesorter">
      <thead>
        <tr>
          <th>Investment</th>
          <th>Rate</th>
          <th>Term</th>
          <th>FICO</th>
          <th>Amount</th>
          <th>% Funded</th>
          <th>Amount Left</th>
          <th>Days Left</th>
        </tr>
      </thead>
      <tbody>
      <% loans.each do |loan| %>
        <tr class="loan-table-row">
          <%= form_for :investment, method: :post, url: investments_path do |f|%>
          <td>
            <%= f.text_field :amount, class: 'input-investment form-control', placeholder: '$' %><br/><br>
            <%= f.hidden_field :loan_id, class: 'input-investment', value: loan.id %>
            <%= f.submit "Add", class: 'btn btn-success add-investment' %>
          </td>
          <% end %>
          <td><%= loan.rate %>%</td>
          <td><%= loan.term %></td>
          <td><%= credit_range(loan) %></td>
          <td>$<%= "%.2f" % loan.amount %></td>
          <td>

            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow= "<%= loan.amount_funded.round(2) %>" aria-valuemin="0" aria-valuemax="<%= loan.amount %>" style="width: <%= (loan.amount_funded/loan.amount)*100 %>%">
                <%= loan_percent_funded(loan).round(2) %>%
              </div>
            </div>


          </td>
          <td>$<%= amount_remaining(loan) %></td>
          <td>
            <%= days_remaining(loan) %> days<br/>
            <!-- Button trigger modal -->
            <button class="btn btn-default estimate-returns" data-toggle="modal" data-target="#myModal-<%= loan.id %>">
              Estimate Returns
            </button>
          </td>

          <!-- Modal -->
          <div class="modal fade" id="myModal-<%= loan.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <section class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">See how much you can make</h4>
                  <input class="rate"  type="hidden" value="<%= loan.rate %>">
                </section>
                <div class="modal-body">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <%= form_for :investment, method: :post, url: investments_path do |f|%>
                        <%= f.number_field :amount, class: 'investment-input form-control', placeholder: 'How much do you want to invest?' %>
                        <%= f.hidden_field :loan_id,  value: loan.id %>
                    </div>
                  </div>
                  <h3>Estimated return: $<span class="investment-estimate"><span/></h3>
                </div>
                <div class="modal-footer">
                  <%= f.submit "Invest Now", class: 'btn btn-success' %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                <% end %>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
        </tr>
      <% end %>
    </tbody>
    </table>

    <%= will_paginate loans %>
  </div>
</div>
