<style>
  body{padding-top: 70px;}
</style>
<div class="container">
<div class="row">
  <div class="col-md-2">
    <h4>Filter Results</h4>
    <%= form_for @filterrific do |f| %>
      <h5>Term(36-60 month)</h5>
      <% @filterrific.select_options[:term].each do |term| %>
        <%= check_box_tag "filterrific[term][]", term,  class: 'filterrific-periodically-observed' %> <%= term %><br/>
      <% end %>
      <h5>Interest Rate</h5>
      <% @filterrific.select_options[:rate].each do |rate| %>
        <%= check_box_tag "filterrific[rate][]", rate, class: 'filterrific-periodically-observed'%> <%= rate %>%<br />
      <% end %>


      <%= link_to 'Reset filters', reset_filterrific_loans_path, class: 'btn btn-primary' %>
      <%= render_filterrific_spinner %>
    <% end %>
  </div>

  <%= render(
    partial: 'loans/list',
    locals: {loans: @loans}
  ) %>
</div>
</div>
