<style>
  .amount-funded{
    color: green;
  }
</style>


<div class="container">
  <% if @loan %>
  <div class="row">
    <div class="col-md-3">

      <% if !params[:id] %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Personal Info</h2>
          </div>
          <div class="panel-body">
            <p><strong>Name:</strong> <%= @lendee.first_name %> <%= @lendee.last_name %></p>
            <p><strong>Email:</strong> <%= @lendee.email %></p>
            <p><strong>Address:</strong> <%= @lendee.street_address %>, <%= @lendee.state %></p>
            <p><strong>Birthday:</strong> <%= @lendee.date_of_birth %></p>
            <p><strong>Annual Income:</strong> $<%= @lendee.yearly_individual_income %></p>
            <p><strong>Credit Range:</strong> <%= @lendee.credit_range %></p>
            <%= link_to "Edit Info", edit_lendee_path(@lendee.id) %>
          </div>
        </div>
      <% end %>

      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">Amount Funded</h2>
        </div>
        <div class="panel-body">
          <h3 class="amount-funded">$<%= @amount_funded %></h3>
          <p>(<%= (@amount_funded/@amount_requested*100).round(2) %>% funded)</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Amount Remaining</h2>
        </div>
        <div class="panel-body">
          <h3>$<%= @loan.amount %></h3>
        </div>
      </div>

    </div>

    <% if !@lendee.loan.funded? %>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Investor Activity</h2>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <tr>
                <td>Date</td>
                <td>Amount</td>
              </tr>
            <% @investments.each do |investment| %>
                <tr>
                  <td><%= investment.created_at.strftime('%d %b') %></td>
                  <td class="plus">+ $<%= investment.amount %></td>
                </tr>
            <% end %>
          </table>
          <%= link_to "View all investments", "#" %>
          </div>
        </div>
      </div>
    </div>
    <% else %>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Your Payments</h2>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <tr>
                <td>Date Added</td>
                <td>Total Amount</td>
                <td>Total Paid</td>
                <td>Due Date</td>
              </tr>
            <% @payments.each do |payment| %>
                <tr>
                  <td><%= payment.created_at.strftime('%d %b') %></td>
                  <td>$<%= payment.amount.round(2) %></td>
                  <td class="minus">$<%= payment.amount_paid.round(2) %></td>
                  <td><%= payment.due_date.strftime('%d %b') %></td>
                </tr>
            <% end %>
          </table>
          <%= link_to "View all payments", lendee_payments_path(@lendee.id) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <h2>You haven't applied for a loan yet</h2>
    <%= link_to "Apply for Loan", new_loan_path %>
  <% end %>
</div>
