<style>
  .amount-funded{
    color: green;
  }
</style>

<%= render 'shared/navbar' %>

<div class="profile-panel">
  <h1>Hi There, <%= current_lendee.first_name %>!</h1>
</div>

<div class="container">
  <% if current_lendee.loan %>
  <div class="row">
    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Amount Funded</h2>
        </div>
        <div class="panel-body">
          <h3 class="amount-funded">$<%= current_lendee.loan.amount_funded %></h3>
          <p>(<%= current_lendee.loan.amount_funded / current_lendee.loan.amount %>% funded)</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Amount Remaining</h2>
        </div>
        <div class="panel-body">
          <h3>$<%= current_lendee.loan.amount - current_lendee.loan.amount_funded %></h3>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Investor Activity</h2>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
          <% @investments.each do |investment| %>
              <tr>
                <td><%= investment.created_at.strftime('%d %b') %></td>
                <td>+ $<%= investment.amount %></td>
              </tr>
          <% end %>
        </table>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
