<style>
  .amount-funded{
    color: green;
  }
</style>

<div class="profile-panel">
  <h1>Hi There, <%= @lender.email %>!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">

      <div class="panel panel-success">
        <div class="panel-heading">
          <h2 class="panel-title">Total Invested</h2>
        </div>
        <div class="panel-body">
          <% if @total_invested > 0 %>
          <h3 class="total-invested">$<%= @total_invested %></h3>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Available Funds</h2>
        </div>
        <div class="panel-body">
          <h3>$<%= current_lender.funds %></h3>
          <%= link_to "Add Funds", "#", class: 'btn btn-primary' %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Total Returns</h2>
        </div>
        <div class="panel-body">
          <% if @total_returns %>
          <h3>$<%= @total_returns %></h3>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Expected Returns</h2>
        </div>
        <div class="panel-body">
          <% if @expected_returns%>
          <h3>$<%= @expected_returns.round(2) %></h3>
          <% end %>
        </div>
      </div>

    </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Investment Activity</h2>
          </div>
          <div class="panel-body">
            <table id="lenderTable" class="table table-striped tablesorter">
              <thead>
                <tr>
                  <td>Date</td>
                  <td>Amount</td>
                  <td>Rate</td>
                </tr>
              </thead>
              <tbody>
              <% @lender_investments.each do |investment| %>
                <tr>
                  <td><%= investment.created_at.strftime('%d %b') %></td>
                  <td class="minus">- $<%= investment.amount %></td>
                  <td><%= Loan.find(investment.loan_id).rate %>%</td>
                </tr>
              <% end %>
            </tbody>
            </table>
            <%= link_to "View all investments", lender_investments_path(@lender.id) %>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Payment Activity</h2>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <tr>
                <td>Date</td>
                <td>Amount</td>
                <td>Loan ID</td>
              </tr>
              <% @lender_payments.each do |payment| %>
                <% if payment.paid? %>
                  <tr>
                    <td><%= payment.created_at.strftime('%d %b') %></td>
                    <td class="plus">+ $<%= payment.amount %></td>
                    <td><%= Loan.find_by(lendee_id: payment.lendee_id).created_at.strftime('%d %b') %></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
            <%= link_to "View all payments", lender_payments_path(@lender.id) %>
          </div>
        </div>

    </div>
  </div>
</div>
