<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Devtank" %></title>
    <%= google_webfonts_link_tag :orbitron => 400 %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-index navbar-fixed-top nav-index-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">dev_tank</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
            <% if current_lender %>
            <li><%= link_to current_lender.email, portfolio_path%></li>
            <% elsif current_lendee %>
            <li><%= link_to current_lendee.first_name, profile_path %></li>
            <% end %>

            <li><%= link_to "Personal Loan", personal_loan_path  %></li>
            <li><%= link_to "Invest", invest_path  %></li>
            <li><%= link_to "How It Works", how_it_works_path  %></li>
            <li><%= link_to "About", about_path  %></li>
            <% if current_lender%>
              <li><%= link_to "Sign Out", destroy_lender_session_path, method: :delete %></li>
            <% elsif current_lendee%>
              <li><%= link_to "Sign Out", destroy_lendee_session_path, method: :delete %></li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <h3>Borrower Sign-In</h3>
                    <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: "navbar-form pull-right"} do |f| -%>
                      <li><%= f.email_field :email, class: 'form-control', placeholder: 'email' %></li>
                      <li><%= f.password_field :password, class: 'form-control', placeholder: 'password' %></li>
                      <% if devise_mapping.rememberable? -%>
                        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                      <% end -%>
                      <div><%= f.submit "Log in" %></div>
                    <% end -%>
                    <button class="btn btn-primary"><%= link_to "Investor Sign-In", new_lender_session_path %></button>
                  </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

      <footer>
        <p>&copy; MakerSquare 2014</p>
      </footer>

  </body>
</html>
